@import 'reset';

@font-face {
  font-family: "neuland";
  src: url("../font/NEULA.ttf") format("truetype");
}




body,
button,
input,
select,
textarea {
  font-family: 'neuland';
}

.big-header {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}
li {
  list-style: none; 
  .button {
    text-decoration: none;
    background: white;
    color: black;
    padding: 30px;
    font-size: 28px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    margin-top: 800px;
    &:hover {
      background: black;
      color: white;
    }
  }
}



