@import 'reset';
@import 'font';

$button-color: #000000;
$font-color: #FFFFFF;

body,
button,
input,
select,
textarea {
  font-family: 'neula';
}

.big__header {
  background-image: url("../img/background__home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: $font-color;
  h1 {
    font-size: 30px;
  }
}

.button {
  background: url("../img/button.png");
  background-position: center;
  background-size: cover;
  padding: 50px;
  color: $font-color;
  text-decoration: none;
  font-size: 24px;
}

