@import 'reset';

@font-face {
  font-family: "neuland";
  src: url("../font/NEULA.ttf") format("truetype");
}




body,
button,
input,
select,
textarea {
  font-family: 'neuland';
}

.big-header {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}


ul{
  display: flex;
  li {
    list-style: none; 
    .button {
      text-decoration: none;
      background-image: url("../image/planche.png");
      background-position: center;
      background-repeat: no-repeat;
      color: black;
      padding: 60px;
      font-size: 28px;
      &:hover {
        color: white;
      }
    }
  }
}
  
h1 {
  position: absolute;
  top: 20%;
  left: 30%;
  color: black;
  margin-right: 30px;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 40px;
}

